## Проверка работоспособности и качества пайплайна

In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [2]:
# cardio_dataset_test
df_test = pd.read_csv("cardio_dataset_test.csv")
# X_test = 
y_test = df_test['cardio']

In [3]:
y_test

0      0
1      1
2      1
3      1
4      0
      ..
494    0
495    0
496    1
497    0
498    0
Name: cardio, Length: 499, dtype: int64

In [7]:
with open('app/modelka/logreg_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [8]:
df_test

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,708,22464,1,161,62.0,140,80,2,2,0,0,1,0
495,711,21791,1,150,88.0,120,80,1,1,0,0,1,0
496,712,17381,1,151,117.0,160,90,2,1,0,0,0,1
497,713,20449,1,151,53.0,120,80,1,1,0,0,1,0
498,714,21197,1,162,60.0,120,80,1,1,0,0,0,0

In [9]:
predictions = pipeline.predict_proba(df_test.iloc[:500])
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [10]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:500])

0.8162463361999549